In [1]:
import json
import pandas as pd
import os
import mysql.connector

In [2]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [3]:
 # aggregated transaction

path1 = r'D:\phone pe\pulse\data\aggregated\transaction\country\india\state/'
agg_state_list = os.listdir(path1)

clm1 = {
    'State': [],'Year': [],'Quarter': [],'Transaction_type': [],'Transaction_count': [],'Transaction_amount': []
}

for state in agg_state_list:
    clm_state= path1 + state +"/"
    agg_yr = os.listdir(clm_state)

    for year in agg_yr:
        clm_year = clm_state + year + "/"
        agg_year_list = os.listdir(clm_year)

        for file in agg_year_list:
            clm_file = clm_year + file
            data = open(clm_file, 'r')
            d = json.load(data)

    
            for i in d["data"]["transactionData"]:
                name = i['name']
                count = i['paymentInstruments'][0]['count']
                amount = i['paymentInstruments'][0]['amount']
                clm1['Transaction_type'].append(name)
                clm1['Transaction_count'].append(count)
                clm1['Transaction_amount'].append(amount)
                clm1['State'].append(state)
                clm1['Year'].append(year)
                clm1['Quarter'].append(int(file.strip('.json')))


# Successfully created a DataFrame
agg_trans1 = pd.DataFrame(clm1)


agg_trans1['State']=agg_trans1['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
agg_trans1['State']=agg_trans1['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
agg_trans1['State']=agg_trans1['State'].str.replace("-"," ")
agg_trans1['State'] = agg_trans1['State'].str.title()

In [19]:
config = {
    "user":"root","password":"arun2311",
    "host":"127.0.0.1","database":"phonepe"
}

connection = mysql.connector.connect(**config)
cursor = connection.cursor()

create_query = """CREATE TABLE IF NOT EXISTS agg_trans(State varchar(55),Year int,Quarter int,Transaction_type varchar(30),Transaction_count bigint,Transaction_amount bigint) """

cursor.execute(create_query)
connection.commit()

for index,row in agg_trans1.iterrows():
    insert_query = """INSERT INTO agg_trans(State,
                                            Year,
                                            Quarter,
                                            Transaction_type,
                                            Transaction_count,
                                            Transaction_amount
                                            )
                                            
                                            values(%s,%s,%s,%s,%s,%s)"""
    
    values=(row["State"],
            row["Year"],
            row["Quarter"],
            row["Transaction_type"],
            row["Transaction_count"],
            row["Transaction_amount"])
    
    cursor.execute(insert_query,values)
    connection.commit()

In [6]:
path2 = r"D:\phone pe\pulse\data\aggregated\user\country\india\state/"
agg_state_list = os.listdir(path2)


clm2 = {'State': [], 'Year': [], 'Quarter ': [], 'brands': [], 'count': [], 'percentages': []}


for state in agg_state_list:
    clm_state = path2 + state +"/"
    agg_year = os.listdir(clm_state)

   
    for year in agg_year:
        clm_year = clm_state +year +"/"
        agg_year_list = os.listdir(clm_year)

       
        for file in agg_year_list:
            clm_file = clm_year + file
            data = open(clm_file, "r")
            d = json.load(data)

            try:
                for i in d['data']["usersByDevice"]:
                    clm2['brands'].append(i["brand"])
                    clm2['count'].append(i["count"])
                    clm2['percentages'].append(i["percentage"])
                    clm2['State'].append(state)
                    clm2['Year'].append(year)
                    clm2['Quarter '].append(int(file.strip('.json')))
            
            except:
                pass

# Successfully created a dataframe
agg_user2 = pd.DataFrame(clm2)


agg_user2['State']=agg_user2['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
agg_user2['State']=agg_user2['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
agg_user2['State']=agg_user2['State'].str.replace("-"," ")
agg_user2['State'] = agg_user2['State'].str.title()

In [22]:
config = {
    "user":"root","password":"arun2311",
    "host":"127.0.0.1","database":"phonepe"
}

connection = mysql.connector.connect(**config)
cursor = connection.cursor()

create_query = """CREATE TABLE IF NOT EXISTS agg_user(State varchar(500),Year int,Quarter  int,brands varchar(55),count bigint,percentages float) """

cursor.execute(create_query)
connection.commit()

for index,row in agg_user2.iterrows():
    insert_query = """INSERT INTO agg_user(State,
                                            Year,
                                            Quarter ,
                                            brands,
                                            count,
                                            percentages
                                            )
                                            
                                            values(%s,%s,%s,%s,%s,%s)"""
    
    values=(row["State"],
            row["Year"],
            row["Quarter "],
            row["brands"],
            row["count"],
            row["percentages"])
    
    cursor.execute(insert_query,values)
    connection.commit()

In [9]:
# map_transaction

path3=r"D:\phone pe\pulse\data\map\transaction\hover\country\india\state/"
map_state_list=os.listdir(path3)

clm3={'State':[],'Year':[],'Quarter':[],'District':[],'total_count':[],'total_amount':[]}

for state in map_state_list:
  clm_state = path3 + state + "/"
  map_yr = os.listdir(clm_state)

  for year in map_yr:
    clm_year = clm_state + year +"/"
    map_year_list = os.listdir(clm_year)

    for file in map_year_list:
      clm_file = clm_year+file
      data = open (clm_file,"r")
      d = json.load(data)
      
 
      for i in d["data"]["hoverDataList"]:
        district=i["name"]
        counts=i["metric"][0]["count"]
        amounts=i["metric"][0]["amount"]
        clm3['District'].append(district)
        clm3['total_count'].append(counts)
        clm3['total_amount'].append(amounts)
        clm3['State'].append(state)
        clm3['Year'].append(year)
        clm3['Quarter'].append(int(file.strip('.json')))



#Succesfully created a dataframe
map_trans3=pd.DataFrame(clm3)


map_trans3['State']=map_trans3['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_trans3['State']=map_trans3['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
map_trans3['State']=map_trans3['State'].str.replace("-"," ")
map_trans3['State'] = map_trans3['State'].str.title()

In [29]:
config = {
    "user":"root","password":"arun2311",
    "host":"127.0.0.1","database":"phonepe"
}

connection = mysql.connector.connect(**config)
cursor = connection.cursor()

create_query = """CREATE TABLE IF NOT EXISTS map_trans(State varchar(500),Year int,Quarter  int,District varchar(500),total_count bigint,total_amount float) """

cursor.execute(create_query)
connection.commit()

for index,row in map_trans3.iterrows():
    insert_query = """INSERT INTO map_trans(State,
                                            Year,
                                            Quarter,
                                            District,
                                            total_count,
                                            total_amount
                                            )
                                            
                                            values(%s,%s,%s,%s,%s,%s)"""
    
    values=(row["State"],
            row["Year"],
            row["Quarter"],
            row["District"],
            row["total_count"],
            row["total_amount"])
    
    cursor.execute(insert_query,values)
    connection.commit()

In [11]:
# map user

import os
path4 = r"D:\phone pe\pulse\data\map\user\hover\country\india\state/"
map_state_list=os.listdir(path4)


clm4={'State':[],'Year':[],'Quarter':[],"District":[],"registeredUsers":[],"appOpens":[]}
for state in map_state_list:
  clm_state = path4 + state +"/"
  map_year = os.listdir(clm_state)

  for year in map_year:
    clm_year = clm_state + year + "/"
    map_year_list = os.listdir(clm_year)

    for file in map_year_list:
      clm_file = clm_year +file
      data = open(clm_file,"r")
      d = json.load(data)

      for i in d["data"]["hoverData"].items():
        district=i[0]
        register = i[1]["registeredUsers"]
        app=i[1]["appOpens"]
        clm4["District"].append(district)
        clm4["registeredUsers"].append(register)
        clm4["appOpens"].append(app)
        clm4["State"].append(state)
        clm4["Year"].append(year)
        clm4["Quarter"].append(int(file.replace(".json", "").replace(",", "")))

#Succesfully created a dataframe
map_user4=pd.DataFrame(clm4)


map_user4['State']=map_user4['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
map_user4['State']=map_user4['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
map_user4['State']=map_user4['State'].str.replace("-"," ")
map_user4['State'] = map_user4['State'].str.title()

In [32]:
config = {
    "user": "root","password": "arun2311",
    "host": "127.0.0.1","database": "phonepe"
}


connection = mysql.connector.connect(**config)
cursor = connection.cursor()

create_query = """CREATE TABLE IF NOT EXISTS map_user(State VARCHAR(500),Year INT,Quarter INT,District VARCHAR(500),registeredUsers BIGINT,appOpens BIGINT)"""

cursor.execute(create_query)
connection.commit()

for index, row in map_user4.iterrows():
    insert_query = """INSERT INTO map_user(
                        State,
                        Year,
                        Quarter,
                        District,
                        registeredUsers,
                        appOpens
                      )
                      VALUES(%s, %s, %s, %s, %s, %s)"""
    
    values = (
        row["State"],
        row["Year"],
        row["Quarter"],
        row["District"],
        row["registeredUsers"],
        row["appOpens"]
    )
    
    cursor.execute(insert_query, values)
    connection.commit()

In [13]:
# top transaction
import os
path5 =r"D:\phone pe\pulse\data\top\transaction\country\india\state/"
top_trans_list =os.listdir(path5)

clm5 ={"State":[],"Year":[],"Quarter":[],"pincode":[],"total_count":[],"total_amount":[]}

for state in top_trans_list:
    clm_state = path5 + state +"/"
    top_yr = os.listdir(clm_state)                                    

    for year in top_yr:
        clm_year = clm_state + year +"/"
        top_year_list = os.listdir(clm_year)

        for file in top_year_list:
            clm_file = clm_year + file
            data = open(clm_file,"r")
            d = json.load(data)
            
            
            for i in d["data"]["pincodes"]:
                    name = i["entityName"]
                    count = i["metric"]['count']
                    amount = i["metric"]['amount']
                    clm5["pincode"].append(name)
                    clm5["total_count"].append(count)
                    clm5["total_amount"].append(amount)
                    clm5["State"].append(state)
                    clm5["Year"].append(year)
                    clm5["Quarter"].append(int(file.strip(".json")))

                

top_trans5=pd.DataFrame(clm5)


top_trans5['State']=top_trans5['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_trans5['State']=top_trans5['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
top_trans5['State']=top_trans5['State'].str.replace("-"," ")
top_trans5["State"] = top_trans5["State"].str.title()

In [35]:
config = {
    "user": "root","password": "arun2311",
    "host": "127.0.0.1","database": "phonepe"
}

connection = mysql.connector.connect(**config)
cursor = connection.cursor()


create_query = """CREATE TABLE IF NOT EXISTS top_trans(State VARCHAR(2000),Year INT,Quarter INT,pincode BIGINT,total_count BIGINT,total_amount BIGINT)"""

cursor.execute(create_query)
connection.commit()

try:
    for index, row in top_trans5.iterrows():
        insert_query = """INSERT INTO top_trans(State,
                                                Year,
                                                Quarter,
                                                pincode,
                                                total_count,
                                                total_amount) 
                                                
                                                VALUES (%s, %s, %s, %s, %s, %s)"""
        values = (row["State"],
                  row["Year"],
                  row["Quarter"],
                  row["pincode"],
                  row["total_count"],
                  row["total_amount"]
        )
        
        cursor.execute(insert_query, values)
        connection.commit()
except:
    pass

In [15]:
# top user

import os
path6 = r"D:\phone pe\pulse\data\top\user\country\india\state/"
top_state_list = os.listdir(path6)

clm6 ={"State":[],"Year":[],"Quarter":[],"pincodes":[],"registeredUsers":[]}
for state in top_state_list:
  clm_state =path6 +state +"/"
  top_yr = os.listdir(clm_state)

  for year in top_yr:
    clm_year = clm_state + year +"/"
    top_year_list = os. listdir(clm_year)

    for file in top_year_list:
      clm_file = clm_year + file
      data = open (clm_file,"r")
      d = json.load(data)

      for i in d["data"]['pincodes']:
        name = i["name"]
        register = i["registeredUsers"]
        clm6["pincodes"].append(name)
        clm6["registeredUsers"].append(register)
        clm6["State"].append(state)
        clm6["Year"].append(year)
        clm6["Quarter"].append(int(file.strip('.json')))
       

#Succesfully created a dataframe
top_user6=pd.DataFrame(clm6)


top_user6['State']=top_user6['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
top_user6['State']=top_user6['State'].str.replace('dadra-&-nagar-haveli-&-daman-&-diu','dadra and nagar haveli and daman and diu')
top_user6['State']=top_user6['State'].str.replace("-"," ")
top_user6["State"] = top_user6["State"].str.title()

In [38]:
config = {
    "user":"root","password":"arun2311",
    "host":"127.0.0.1","database":"phonepe"
}

connection = mysql.connector.connect(**config)
cursor = connection.cursor()

create_query = """CREATE TABLE IF NOT EXISTS top_user(State varchar(500),Year int,Quarter int,pincodes int,registeredUsers bigint) """

cursor.execute(create_query)
connection.commit()

for index,row in top_user6.iterrows():
    insert_query = """INSERT INTO top_user(State,
                                            Year,
                                            Quarter,
                                            pincodes,
                                            registeredUsers
                                            )
                                            
                                            values(%s,%s,%s,%s,%s)"""
    
    values=(row["State"],
            row["Year"],
            row["Quarter"],
            row["pincodes"],
            row["registeredUsers"])
    
    cursor.execute(insert_query,values)
    connection.commit()